<p>
Welcome to DornCMS2, a content management system focused on using best practices and following standards.
</p>

<p>
DornCMS is meant for HTML5 sites with mostly static pages and maybe a few forms (Think: Home, About, Contact, etc.).
</p>

<p>
It is <em>not</em> meant for e-commerce sites, blogs, or sites that are highly dynamic, need member accounts, require a database, or use Flash.
</p>

<h2>Philosophy</h2>
<p>
We believe ceating a new page should be as easy as adding the page contents and mapping it to a URL (e.g. "/about-us").
</p>

<p>
We believe handling form submissions or dynamic content should be as easy as creating a single PHP method.
</p>

<p>
We don't believe in locking you in to a single way of doing things.
DornCMS provides configuration defaults to get you up and running quickly, but is completely customizeable.
</p>

<p>
We also think you should be able to switch to a different framework without too much trouble.
If your site outgrows DornCMS, there are easy upgrade paths to more powerful frameworks like Symfony or Drupal.
</p>

<h2>Security</h2>
<p>
DornCMS has a secure backend to manage every aspect of your site.  
You can have unlimited admin user accounts with different roles and priviledges.
</p>

<ul>
	<li>Developers can add PHP controllers for dynamic content and manually edit configuration files.</li>
	<li>Designers can set up page layouts, handle URL routing rules, and edit css and js files.</li>
	<li>Editors can change the content of pages.</li>
	<li>You can change these default roles or add your own with custom sets of priviledges.</li>
</ul>

<h2>Performance</h2>
<p>
We take performance seriously.
DornCMS is one of the fastest content management systems available and almost as fast as a completely static site.
</p>

<p>
Intelligent caching is on by default.
When paired with nginx or a reverse proxy like Varnish, sites become ridiculously fast.
</p>
