{% extends "admin/main_layout.html.twig" %}

{% block content %}
	<h1>DornCMS Home</h1>
	
	<ul>
		<li><a href="{{ path('list_templates') }}">Edit Templates</a></li>
		<li><a href="{{ path('edit_config',{file:"routing.yml"}) }}">Edit Routing Rules</a></li>
		<li><a href="{{ path('logout') }}">Logout</a></li>
	</ul>
{% endblock %}
